<span id="error" style="color: tomato;"></span>
<ul id="tasks">
</ul>

<h1>New Task</h1>
<form>
  <label for="description">Description</label>
  <input type="text" id="description" name="description" />
  <input type="submit" value="Add Task!" id="new-task-submit-button" />
</form>
<div id="react"></div>
